@page
@model web_app.Pages.Product.IndexModel
@{
}
<div class="d-flex justify-content-center">
    <h1 class="text-danger align-content-center mb-4">List of products</h1>
</div>


@if (Model.Products != null)
{
    int index = 1;

    <div class="d-flex w-100 row">

        @foreach (var prod in Model.Products)
        {
            string urlImage = $"https://source.unsplash.com/collection/410576/250x200?sig={index}";

            <div class="col-3 offset-1 mt-4">
                <div class="card" style="width:300px"> 
                    <div class="card-body">

                        <img src=@urlImage alt="" class="my-4 shadow-lg bg-dark" />

                        <p class="card-text">@prod.Name @prod.Description</p>

                        <div class="d-flex justify-content-center align-items-center mt-4">
                            <a class="btn btn-danger" asp-page="./Details" asp-route-id="@prod.Id">Details</a>
                        </div>
                    </div>
                </div>
            </div>
            index++;
        }
    </div>
}