@page "/"


<div class="container">
    <h3 class="text-danger">This is a portal to manage the product store.</h3> 

    <p class="mt-5">Created by: <span class="font-weight-bolder text-danger" >Sergio Badillo Bustillo</span></p>
</div>